<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de XML</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="top-bar">
        <div class="col-text-right">
            <a href="https://www.intermaritima.com.br/" target="_blank">Visite nosso site</a>
        </div>
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="100">
        <h1>Upload de XML(s) para Visualização de Dados</h1>
        <h2>Faça aqui a importação de múltiplos XML(s) - (Limitação 50MB)</h2>
        <form id="xmlForm" action="/processar-xml" method="post" enctype="multipart/form-data">
            <input type="file" id="xml-file" name="xml_file" accept=".xml" multiple>
            <label for="xml-file">Escolher Arquivo(s) XML(s)</label>
            <b></b>
            <span id="file-label">Nenhum arquivo selecionado</span>
            <b></b>
            <button type="submit" id="upload-btn">Processar Dados</button>
        </form>
    </div>
    <p class="description">
        Essa plataforma foi desenvolvida para simplificar o processo de importação e análise de arquivos XML, permitindo uma verificação detalhada de itens, quantidades e notas de retorno associadas. Com uma interface amigável e intuitiva, os usuários podem facilmente carregar múltiplos arquivos XML e baixar o relatório resultante em formato Excel. É importante destacar que cada importação está sujeita a uma limitação de 50MB, garantindo um desempenho ideal da plataforma. Para consultas que excedam esse limite, recomendamos dividir os arquivos e realizar a importação em partes para uma experiência sem interrupções.
    </p>
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="corporing">
                <p>
                    <span id="ano-atual"></span> © Intermarítima Portos e Logística S/A.
                    Todos os direitos reservados. - Desenvolvido por Abel Silva Brandão
                </p>
            </div>
            <div class="versao">
                <p><span class="versao_site">Versão: 1.0</span></p>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


